.roll {
  position: absolute;
  top: 0px;
  z-index: -100;
}

.scroll-text-row {
  margin: 0%;
  padding: 0.5em 10em;
  width: 240%;
  background-color: #e6a28b;
  display: flex;
  flex-wrap: nowrap;
  animation: move 40s infinite linear;
  justify-content: space-around;
  overflow: hidden;
}

@keyframes move {
  to {
    transform: translateX(-50%);
  }
}

.scroll-text {
  margin: 0;
  padding-left: 0px;
  font-family: Aurebesh;
  letter-spacing: 2px;
}

.scroll-text-div {
  margin: 0;
  padding-left: 0px;
}