* {
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-size:16px;
  letter-spacing: 0.025em;
  line-height: 1.8em;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #F5E2CD;
  overflow-x: hidden;
}

.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-family: poppins, sans-serif;
  text-transform: none;
  color:#DF7653;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.4em;
  margin-bottom: -10px;
  text-transform: lowercase;
}

h2 {
  font-family: BeachesAndCream;
  letter-spacing: -1px;
  color:#e6a28b;
  font-size: 50px;
}

vday {
  color:#e6a28b;
  font-weight: 800;
  border-bottom: 2px solid #e6a28b;
}

#pictures, #stats, #coming-soon {
  padding: 10vh 0;
  background-color: #F8EBD8;
}

.paragraph {
  width: 500px;
  padding-top: 30px;
  margin: auto;
}

/* highlight textx */
::-moz-selection { 
  color: #F9EFE0;
  background: #DF7653;
}
::selection {
  color: #F9EFE0;
  background: #DF7653;
}